body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f0f0f0;
}

h1 {
    color: aqua;
}

#timer {
    font-size: 2em;
    color: #ff6347;
    margin-top: 20px;
}