@use '../../styles/main.scss' as *;

.app-content-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #f2eef6;
  height: 100%;
  padding: $main-app-padding;
  align-items: stretch;
}

.app-content-left,
.app-content-right {
  flex-basis: 25%;
  flex-direction: column;
}

.app-content-center {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  height: 1000px;
  justify-content: flex-start;
  flex-grow: 1;

  & > * {
    width: 100%;
    max-width: 700px;
    flex: 1 1 0
  }
}