<a class="list-group-item list-group-item-action">
    <input type="checkbox" value="545571798" class="form-check-input me-1">
    <i data-message-id="545571798" class="btn-bookmark bi bi-bookmark-star"></i>
    <div class="list-content">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 fw-bold">Email subject 3</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1 fw-bold">Lorem ipsum dolor sit amet dza bu! 3</p>
        <small>john@rhinoent.net</small>
    </div>
</a>
