@use '../../styles/main.scss' as *;

.usersContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background-color: $gray-light;
  border-radius: $border-radius-small;
}

.userItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border: 1px solid $gray-light;
  border-radius: $border-radius-small;
  background-color: $white;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f0f0f0;
  }
}

.userIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.userTitle {
  font-size: 1rem;
  font-weight: 500;
  color: $purple-dark;
}