@use './variables.scss' as *;

.app-content-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #f2eef6;
  height: 100vh;
  padding: $main-app-padding;
}

.app-content-left,
.app-content-right {
  flex-basis: 25%;
  flex-direction: column;
}

.app-content-center {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  overflow-y: auto;

  & > * {
    width: 100%;
    max-width: 700px;
  }
}