body {
    background-color: aliceblue;
    font-family: "EB Garamond", serif;
}

.menu {
    background-color: chartreuse;
    padding: 20px;
    text-align: center;
}

a {
    color: black;
    background-color: lightgreen;
    text-decoration: none;
    padding: 20px;
    margin: 50px;
}

a:hover {
    background-color: green;
    text-decoration: underline;
}

.products, .contact, .photos {  
    padding: 50px;
    justify-items: center;
}

h1,h3 {
    background-color: aqua;
    color: darkseagreen;
}

table {
    width: 50%;
    background-color: cyan;
    color: blue;
    text-align: center;
}
th, td {
    padding: 15px;
    border: 2px solid black;
}

tr:hover {
    background-color: teal;
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}