body {
    background-color: aliceblue;
    font-family: "EB Garamond", serif;
}

.menu {
    background-color: chartreuse;
    padding: 20px;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.links li {
    margin: 0;
}

.contact, .products {
    text-align: center;
    padding: 50px 20px;
}

a {
    color: black;
    background-color: lightgreen;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: green;
    text-decoration: underline;
}


.audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.photos table {
    width: 100%;
    background-color: chartreuse;
    margin-bottom: 20px;
    border-collapse: collapse;
    table-layout: fixed;
}

.photos tbody {
    height: 395px;
}

.photos tbody tr {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid black;
}

.photos td {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

.photos td img {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    border-radius: 5px;
}

.photos thead {
    display: none;
}

.photos td span {
    font-size: 30px;
    font-weight: 600;
    color:brown ;
    margin-bottom: 5px;
}

table {
    width: 100%;
    background-color: cyan;
    color: blue;
    text-align: center;
}

th, td {
    padding: 15px;
    border: 2px solid black;
}

tr:hover {
    background-color: teal;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.videos video {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .links {
        flex-direction: row;
        justify-content: space-around;
    }

    .audio {
        flex-direction: row;
    }

    .photos td img {
        max-width: 300px;
    }

    .products table,
    .contact table {
        margin: 0 auto;
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .menu {
        padding: 30px;
    }

    .links {
        justify-content: center;
        gap: 20px;
    }

    .photos span {
        display: none;
    }

    .photos table {
        display: table;
        width: 100%;
    }

    .photos thead {
        display: table-header-group;
    }

    .photos tbody tr {
        display: table-row;
    }

    .photos td {
        display: table-cell;
        padding: 15px;
    }

    .products table,
    .contact table {
        width: 50%;
    }

    .videos video {
        max-width: 800px;
    }
}




