@use '../../ux/styles/main.scss' as *;

.feed-wrapper {
  height: 100vh;

  .feed-content-container {
    display: flex;
    flex-direction: row;
    background-color: #f2eef6;
    padding: $main-app-padding;
  }

  .feed-content-left,
  .feed-content-right {
    flex-basis: 25%;
    flex-direction: column;
  }

  .feed-content-right {
    display: flex;
    align-items: flex-end;
  }

  .feed-content-center {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
    overflow-y: auto;

    & > * {
      width: 100%;
      max-width: 700px;
    }
  }

  //Categories
  .category-container {
    display: flex;
    flex-direction: row;
    padding: $main-app-padding;
    gap: $main-app-gap;
    align-items: center;

    svg {
      color: $main-theme-color;
    }
  }

  //Chat
  .chat-item-container {
    display: flex;
    flex-direction: row;
    padding: $main-app-padding;
    gap: $main-app-gap;
    align-items: center;
  }

  //Post Feed
  .feed-post-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: calculate-rem(8px);
    background-color: $main-theme-color;
    color: white;
    padding: $main-app-padding;
    gap: calculate-rem(16px);
    width: 100%;

    .feed-post-top-container {
      display: flex;
      flex-direction: row;
      gap: $main-app-gap;
      width: 100%;

      img {
        width: calculate-rem(20px);
        height: calculate-rem(20px);
      }
    }

    .feed-post-actions {
      display: flex;
      flex-direction: row;
      gap: $main-app-gap;

      button {
        flex-grow: 1;
      }
    }
  }

  button {
    &.MuiButtonBase-root {
      &.MuiTab-root {
        &.MuiTab-labelIcon {
          &.MuiTab-textColorSecondary {
            color: $main-theme-color;
          }
        }
      }
    }
  }

  .MuiButton-containedSecondary {
    background-color: #f6efef;
    color: rgb(20, 20, 20);
    border-radius: calculate-rem(8px);
  }
}