@use '../../../styles/main.scss' as *;

.navigation-wrapper {
    background-color: $main-theme-color;
    padding: $main-app-padding;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: $main-app-gap;

    svg {
        color: $white;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    .active-link svg{
        color: #1976d2; 
        transform: scale(1.2);
    }
}