@use '../../../styles/main.scss' as *;

.navigation-wrapper {
    background-color: $main-theme-color;
    padding: $main-app-padding;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: $main-app-gap;

    svg {
        color: $white;
        cursor: pointer;
    }
}