@use 'sass:math';

//Functions
@function calculate-rem($px) {
    $base-font-size: 16px;
    @return #{math.div($px, $base-font-size)}rem;
}

//Colors
$purple: #7e5da1;
$white: #fff;

$main-theme-color: $purple;


//Sizings

$main-app-padding: calculate-rem(12px);
$main-app-gap: calculate-rem(12px);