html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 46px;
}

.active {
  background-color: aqua;
}

.hidden {
  display: none;
}